/* Inicio */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #213A58;
    color: white;
    padding: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

nav.navigation {
    display: flex;
}

nav.navigation a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

nav.navigation a:hover {
    text-decoration: underline;
}

.bienvenida {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #fff;
}

.bienvenida-content {
    display: flex;
    align-items: center;
}

.imagen-perfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 30px;
}

.texto-bienvenida h2 {
    margin-top: 0;
}

.sobre-mi {
    padding: 40px;
    background-color: #e9ecef;
    text-align: center;
}

.sobre-mi p {
    max-width: 800px;
    margin: 0 auto;
}

.redes-sociales {
    padding: 40px;
    text-align: center;
}

.social-links a {
    display: inline-block;
    margin: 10px 15px;
    text-decoration: none;
    color: #050505;
    font-size: 18px;
}

.social-links a:hover {
    color: #007bff;
}

.descargar-cv {
    padding: -5px;
    text-align: center;
}

.btn-cv {
    padding: 12px 20px;
    background-color: #213A58;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

.btn-cv:hover {
    background-color: #213A58;
}

footer {
    background-color: #213A58;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}